# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.obj
*.ilk
*.pdb
*.log
*.tlog
*.pch
*.idb
*.recipe
*.res

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib
*.exp

# Executables
# *.exe
*.out
*.app

x64/
.vs/
Project/.vs/